.nav-link {
  background-image: url("https://plchldr.co/i/250x215?&bg=2ebdc5&text=");
  background-size: cover;
  border-radius: 10px;
  /* box-shadow: 0px 8px 16px 4px #9e9e9e; */
  margin-right: 30px;
  color: black;
  font-weight: bolder;
  font-size: large;
}

.navbar-brand {
  font-weight: bolder;
  font-size: 30px;
  color: #2ebdc5;
}

a {
  color: white;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.active {
  color: white;
  text-decoration: none;
  opacity: 1;
}

body {
  background: url(https://wallpapersmug.com/download/2560x1440/44970b/clouds-white-horizon-mountains-4k.jpg);
  background-size: auto;
}

#cardbody {
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
  background-size: cover;
  border-radius: 20px;
  color: aliceblue;
}

#input {
  font-weight: bolder;
  color: aliceblue;
}
