.card {
  margin-top: 50px;
  border-width: 0ch;
  background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
  background-size: cover;
  border-radius: 20px;
}

.card-body {
  background-size: cover;
  border-radius: 20px;
  margin-left: 10px;
  color: rgb(0, 0, 0);
  font-size: large;
  background-color: cadetblue;
  background-image: url("https://coolbackgrounds.io/images/backgrounds/white/pure-white-background-85a2a7fd.jpg");
  background-size: cover;
}

.form-control {
  padding: 15px;
}

#btn {
  background-color: #2ebdc5;
  border-color: #2ebdc5;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.p3 {
  font-weight: bold;
}
